<!DOCTYPE html>
<html lang="en">
<head>
  <title>BackBullion - Student Financial Calculator</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Optional theme -->
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/7.0.0/normalize.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <form id="calculator" class="form-signin">
      <h2 class="form-signin-heading">Student Financial Calculator</h2>
    <div class="row">
      <div class="col-lg-2">
        <div class="form-group input-group-lg">
          <select id="job_role" class="form-control">
            <option value="laywer">Laywer</option>
          </select>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-2">
        <div class="form-group input-group-lg">
          <select id="exp_level" class="form-control">
            <% exp_level_list.each do |level| %>
            <option value=<%= level %>><%= level.capitalize.gsub(/_/,' ') %></option>
            <% end %>
          </select>
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-2">
        <div class="input-group input-group-lg">
          <input id="age" type="text" class="form-control" placeholder="Age" aria-describedby="sizing-addon1">
        </div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <br />
    <div class="row">
      <div class="col-lg-3">
        <div class="input-group input-group-lg">
          <input id="tuition_fee" type="text" class="form-control" placeholder="Tuition Fee" aria-describedby="sizing-addon1">
        </div>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-3">
        <div class="input-group input-group-lg">
          <input id="maintenance_loan" type="text" class="form-control" placeholder="Maintenance Loan" aria-describedby="sizing-addon1">
        </div>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <br />
    <div class="row">
      <div class="col-lg-6">
        <button id="calcule" type="button" class="btn btn-default">Calculate</button>
      </div>
    </div>
  </form>
  <br />
  <div id="warn" class="alert alert-danger" role="alert">Please! Fill the form! :)</div>
  <br />

  <div id="progression_div">
    <h3 class="form-signin-heading">Loan progression</h3>

    <table id="progression_table_1" class="table table-bordered">
      <thead>
        <tr>
          <% 15.times.each_with_index do |index| %>
            <th><%= index+1 %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <tr>
        <% 15.times.each_with_index do |index| %>
          <td id="cell_<%= index %>"></td>
        <% end %>
      </tr>
      </tbody>
    </table>
    <br />
    <table id="progression_table_2" class="table table-bordered">
      <thead>
        <tr>
          <% 15.times.each_with_index do |index| %>
            <th><%= index+16 %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
      <tr>
        <% 15.times.each_with_index do |index| %>
          <td id="cell_<%= index+15 %>"></td>
        <% end %>
      </tr>
      </tbody>
    </table>   
  </div>

  <div class="row">
    <!-- <canvas id="myChart" width="75" height="50"></canvas> -->
  </div>
  
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script type="text/javascript">
  $("#warn").hide();
  $("#progression_div").hide();
  $("#myChart").hide();

  var validateField = function(field){
    return (field.val() !== "");
  };

  var validateForm = function(){
    return (validateField($("#job_role")) && validateField($("#exp_level")) && validateField($("#age")) && validateField($("#tuition_fee")) && validateField($("#maintenance_loan")));
  };  

  var chartGeneration = function(data){
    var ctx = document.getElementById("myChart");
    var ctx = document.getElementById("myChart").getContext("2d");
    var ctx = $("#myChart");
    var myLineChart = Chart.Line(ctx, {
      data: {datasets: [{label: "fiancial loan", data: data}]}
    });
  };

  var handlerSuccess = function(response){
    $("#progression_div").hide();
    $("#myChart").hide();
    
    var data = [];
    $.each(response, function(index, value){
      $("#cell_"+ index).text(value);
      data[index] = {x: (index+1), y: value};
    });
    // chartGeneration(data);

    $("#progression_div").fadeIn();
    $("#myChart").fadeIn();
  };

  var handlerFail = function(resposne){

  };

  $("button#calcule").click(function(event) {
    if(validateForm()){
      $("#warn").hide();
      var $btn = $(this).button('loading');
      var data = {job_role: $("#job_role").val(), exp_level: $("#exp_level").val(), age: $("#age").val(), tuition_fee: $("#tuition_fee").val(), maintenance_loan: $("#maintenance_loan").val()};
      $.ajax({
        type: 'POST',
        url: '/calculate',
        data: data,
        cache: false,
        crossDomain: true,
        dataType: 'json',
        success: handlerSuccess,
        error: handlerFail
      });

      $btn.button('reset')
    }else{
      $("#warn").fadeIn();
    }
  });
</script>
</body>
</html>